<div class="wrapper">
    <!-- assets/img/clouds.png -->
    <div class="page-header" style="background-image: url('./assets/img/antoine-barres.jpg');">
        <!-- <div class="filter"></div> -->
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <!-- ↓枠定義 card-kakeibo　-->
                    <!-- <div class="card" > -->
                    <!-- <div class="card card-kakeibo" style="width: 400px;"> -->
                    <h3 class="title">　家　計　簿　20220307</h3>
                    <form [formGroup]="myKakeiboForm" class="register-form">
                        <!-- <div formGroupName="myKakeibo"> -->
                        <label>日付</label>
                        <div class="input-group form-group-no-border" style="width: 160px">
                            <input name="p_date" type="date" style="width: 100px" class="form-control"
                                formControlName="p_date" tabindex="01">
                        </div>
                        <div class="row">
                            <button class="col-sm-2 btn btn-danger btn-block btn-round" (click)="serch(myKakeiboForm)"
                                type="submit" tabindex="02">検索</button>
                            <!--  -->
                            <button class="col-sm-2 offset-2 btn btn-danger btn-block btn-round"
                                (click)="registerKakeibo(myKakeiboForm)" type="submit" tabindex="09">登録</button>
                            <button class="col-sm-2 offset-3 btn btn-danger btn-block btn-round" (click)="addKakeibo()"
                                type="submit" tabindex="08">追加</button>
                        </div>

                        <!-- </div> -->
                        <!--  -->
                        <table class="table table-sm" >
                            <thead>
                                <tr>
                                    <!-- 1段目 -->
                                    <th class="col-md-1" rowspan="3">削除</th>
                                    <th class="col-md-3">時刻</th>
                                    <th class="col-md-8">科目</th>
                                </tr>
                                <tr>
                                    <!-- 2段目 -->
                                    <th>金額</th>
                                    <th>口座</th>
                                </tr>
                                <tr>
                                    <!-- 3段目 -->
                                    <th colspan="3">詳細</th>
                                    <!-- <th>その他</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container formArrayName="kakeibos"
                                    *ngFor="let kekeibo of kakeibos.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <tr>
                                            <!-- 1段目 -->
                                            <!-- 削除ボタン -->
                                            <td class="col-md-1" rowspan="3">
                                                <button class="btn btn-danger" (click)="removeKakeibo(i)">削</button>
                                            </td>
                                            <!-- 時刻-->
                                            <td class="col-md-3">
                                                <div class="input-group form-group-no-border">
                                                    <input name="time" type="time" class="form-control"
                                                        formControlName="kakeiboTime" tabindex="03" />
                                                </div>
                                            </td>
                                            <!--  科目-->
                                            <td class="col-md-8">
                                                <div class="input-group form-group-no-border">
                                                    <select name="kakeiboKamoku" formControlName="kakeiboKamoku"
                                                        tabindex="04">
                                                        <!--リストボックスの生成-->
                                                        <!--<select name="animal" size="3"
                                                              [(ngModel)]="selected" (change)="show()" multiple>-->
                                                        <option value="">科目を選択してください</option>
                                                        <option *ngFor="let item of kamokus" [value]="item.kamoku"
                                                            [selected]="item.kamoku === '食費'">{{item.kamoku}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- 2段目 -->
                                            <!-- 金額-->
                                            <td class="col-md-3">
                                                <div class="input-group form-group-no-border">
                                                    <input name="kakeiboKingaku" type="number" class="form-control"
                                                        formControlName="kakeiboKingaku" tabindex="05" style ="text-align: right;" />
                                                </div>
                                            </td>
                                            <!-- 口座-->
                                            <td class="col-md-8">
                                                <div class="input-group form-group-no-border">
                                                    <select name="kakeiboPayKbn" formControlName="kakeiboPayKbn"
                                                        tabindex="06">
                                                        <option value="">口座を選択してください</option>
                                                        <option *ngFor="let item2 of kouzas" [value]="item2.kouza"
                                                            [selected]="item2.kouza === '現金'">{{item2.kouza}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- 3段目 -->
                                            <!-- 細目-->
                                            <td colspan="3">
                                                <div class="input-group form-group-no-border">
                                                    <textarea name="kakeiboDetail" type="text" class="form-control"
                                                        formControlName="kakeiboDetail" tabindex="07"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>

                        </table>

                    </form>
                    <br />
                    <div *ngIf="errors && errors.length>0" class="alert alert-danger">
                        <p *ngFor="let error of errors">{{ error.detail }}</p>
                    </div>
                    <!-- <div class="forgot">
                            <a [routerLink]="['/login']" class="btn btn-link btn-danger"> 終了はこちら</a>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>

        </div>
    </div>
</div>