.box {
  width: 500px;                /* 横幅を200pxに指定 */
  height: 500px;               /* 横幅を200pxに指定 */
  border: 1px solid #000;      /* わかりやすくボーダーを引く */
  overflow-y: scroll;          /* 縦方向にスクロール可能にする */
}
th {
  text-align: center;
}
button {
  padding-top: 2px;
  padding-left: 5px;
  text-align: center;
}
input {
  resize: horizontal;
  height:30px;
}

textarea {
  resize: horizontal;
  padding-top: 2px;
  padding-left: 5px;
  height:30px;
}
.form-control{
  padding-top: 2px;
  padding-left: 5px;
}
.title {
  background-color: rgb(117, 98, 73);
}
.table {
  border: "1";
  background-color: rgb(117, 98, 73);
  overflow-y: scroll;

}
