<div class="wrapper">

    <!-- assets/img/clouds.png -->

    <div class="page-header" style="background-image: url('./assets/img/antoine-barres.jpg');">
        <div class="filter"></div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <!-- ↓枠定義 card-kakeibo　-->
                    <!-- <div class="card" > -->
                    <div class="card card-kakeibo" style="width: 30rem;">
                        <h3 class="title">家　計　簿 20220307</h3>

                        <form [formGroup]="myKakeibo" class="register-form">

                            <div>
                                <label>日付</label>
                                <div class="input-group form-group-no-border">
                                    <input name="p_date" type="date" class="form-control" formControl="p_date">
                                </div>
                                <button class="btn btn-danger btn-block btn-round" (click)="serch(myKakeibo)"
                                    type="submit">検索</button>
                            </div>



                            <!--  -->
                            <label>出金簿</label>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>時刻</th>
                                        <th>科目</th>
                                        <th>詳細</th>
                                        <th>その他</th>
                                        <th>支払方法</th>
                                        <th>金額</th>
                                    </tr>
                                </thead>

                                <div formArrayName="kakeibos">


                                    <tbody>
                                        <tr *ngFor="let kekeibo of kekeibos.controls; let i = index">
                                            <div formGroupName="i">

                                                <td>
                                                    <div class="col">
                                                        <div class="input-group form-group-no-border">
                                                            <input name="time" type="time" class="form-control"
                                                                placeholder="家計簿時刻" formControl="kakeboTime" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col">
                                                        <div class="input-group form-group-no-border">
                                                            <input name="kakeboKamoku" type="text" class="form-control"
                                                                placeholder="家計簿科目" formControl="kakeboKamoku" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col">
                                                        <div class="input-group form-group-no-border">
                                                            <input name="kakeboDetail" type="text" class="form-control"
                                                                placeholder="家計簿詳細" formControl="kakeboDetail" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col">
                                                        <div class="input-group form-group-no-border">
                                                            <input name="kakeboEtc" type="text" class="form-control"
                                                                placeholder="家計簿その他" formControl="kakeboEtc" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col">
                                                        <div class="input-group form-group-no-border">
                                                            <input name="kakeboPayKbn" type="text" class="form-control"
                                                                placeholder="家計簿支払区分" formControl="kakeboPayKbn" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col">
                                                        <div class="input-group form-group-no-border">
                                                            <input ngModel name="kakeboKingaku" type="number"
                                                                class="form-control" placeholder="家計簿金額"
                                                                formControl="kakeboKingaku" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </div>

                                        </tr>
                                    </tbody>
                                </div>
                            </table>
                            <!--  -->



                            <button class="btn btn-danger btn-block btn-round" (click)="registerKakeibo(myKakeibo)"
                                type="submit">登録</button>


                            <button class="btn btn-danger btn-block btn-round" (click)="addKakeibo()"
                                ype="submit">追加</button>
















                        </form>
                        <br />
                        <div *ngIf="errors && errors.length>0" class="alert alert-danger">
                            <p *ngFor="let error of errors">{{ error.detail }}</p>
                        </div>
                        <!-- <div class="forgot">
                            <a [routerLink]="['/login']" class="btn btn-link btn-danger"> 終了はこちら</a>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>