
th {
  text-align: center;
}
button {
  padding-top: 2px;
  padding-left: 5px;
  text-align: center;
}
input {
  resize: horizontal;
  height:30px;
}

textarea {
  resize: horizontal;
  padding-top: 2px;
  padding-left: 5px;
  height:30px;
}
.title {
  background-color: rgb(117, 98, 73);
}
.table {
  border: "1";
  background-color: rgb(117, 98, 73);
  overflow-y: scroll;

}
