


<div class="wrapper">
    <!-- assets/img/clouds.png -->
    <div class="page-header" style="background-image: url('./assets/img/antoine-barres.jpg');">
        <!-- <div class="filter"></div> -->
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="container">
            <div *ngFor="let obj of data; index as i; 
                  first as first; last as last; odd as odd; even as even;">


                <div class="row">
                    <div class="col-md-2 azure"><textarea>{{obj}} </textarea> </div>
                    <div class="col-md-2 red"> <textarea>{{i}} </textarea></div>
                    <div class="col-md-2 bule"><textarea> {{first ? '○' : '－'}}</textarea></div>
                    <div class="col-md-2 ivory"><textarea> {{last ? '○' : '－'}}</textarea> </div>
                    <div class="col-md-2 red"> <textarea>{{odd ? '○' : '－'}} </textarea></div>
                    <div class="col-md-2 bule"><textarea>{{even ? '○' : '－'}}</textarea> </div>
                </div>
            </div>
        </div>
    </div>
</div>

